.backBtn {
    margin-bottom: 20px;
}

.detailsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}