.backBtn {
    margin-bottom: 20px;
}

.poster {
    background-color: lightgray;
}

.detailsContainer {
    display: flex;
    gap: 20px;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}